<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Profile</title>
    <meta name="description" content="This page is a summary of my Profile">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>

  <body>
    <div class="container">

      <!-- GREETING -->
      <div class="card">
        <h1>Hello, I'm Jendrik ✌️</h1>
        <div class="text-center my-4">
          <img src="{{ site.baseurl }}/assets/images/me.jpg" class="avatar" alt="avatar">
        </div>
        <p>
          Hello and welcome! I'm all about making software that makes life easier,
          not harder. With a background in electrical and software engineering,
          I've spent some solid years diving into everything from cutting-edge
          vision applications at MABRI.VISION GmbH to payroll systems at PayFit
          in Berlin. In February 2024, I completed my training as a full-stack
          web developer at Le Wagon and learned how to develop web applications
          from scratch using tools such as Ruby on Rails, HTML, CSS and JavaScript.
          <br>
          Since April 2024, I've been working as a backend engineer at SaveStrike
          GmbH, where I'm responsible for developing and maintaining the Rails
          API-only backend.
          <br>
          <br>
          For me, it's all about creating straightforward, user-friendly tech.
          I'm here to solve real-world problems with code, and I love collaborating
          with others who share that vibe. If you're into making cool, practical
          software solutions then let's get in touch and make something awesome
          together. 🚀
        </p>
        <a class="opacity-decrease" href="https://www.linkedin.com/in/jendrik-mallah/" target=_blank aria-label="LinkedIn">Visit me on <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Logo.svg.original.svg" class="logo-linkedin" alt="logo-linkedin"></a>
      </div>

      <!-- PROJECTS -->
      <div class="card">
        <h2>
          Projects
        </h2>
        <div class="project-card">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="title">SaveStrike</h3>
            <span class="online-checker">online</span>
          </div>
          <p>Transforming digital wishlists into profitable conversion hubs by offering consumers the most rewarding shopping journey.
            Discover, save, shop & share with the SaveStrike mobile app and Chrome extension.</p>
          <a href="https://savestrike.de/" target=_blank aria-label="savestrike" class="project-link">
            <img src="{{ site.baseurl }}/assets/images/savestrike.png" alt="savestrike">
          </a>
        </div>

        <div class="project-card">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="title">MovieMojo</h3>
            <span class="online-checker">online</span>
          </div>
          <p>Discover your perfect movie match with MovieMojo! Answer 5 simple questions and get 3 tailored movie suggestions to streamline your selection process. Say goodbye to endless browsing and hello to instant movie enjoyment with MovieMojo!</p>
          <a href="https://www.moviemojo.online" target=_blank aria-label="moviemojo" class="project-link">
            <img src="{{ site.baseurl }}/assets/images/moviemojo.png" alt="moviemojo">
          </a>
        </div>

        <div class="project-card">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="title">HelPet</h3>
            <span class="online-checker">online</span>
          </div>
          <p>HelPet is an AirBnB clone MVP for emotional support pets. It has been build in 5 days. Rent a furry friend to unleash your happiness.</p>
          <a href="https://helpet-best-team-feab3b515811.herokuapp.com/" target=_blank aria-label="helpet" class="project-link">
            <img src="{{ site.baseurl }}/assets/images/helpet.png" alt="helpet">
          </a>
        </div>

        <div class="project-card">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="title">LAST - Less Aggressive Spinel Theme</h3>
            <span class="online-checker">online</span>
          </div>
          <p>LAST is a VSCode extension inspired by the Spinel theme from Shopify. It's a theme specifically designed for Ruby. Try it out and let me know what you think!</p>
          <a href="https://marketplace.visualstudio.com/items?itemName=jndrkmllh.less-aggressive-spinel-theme" target=_blank aria-label="last_theme" class="project-link">
            <img src="{{ site.baseurl }}/assets/images/last.png" alt="last">
          </a>
        </div>
      </div>


      <!-- ABOUT ME -->
      <div class="card">
        <h2 class="my-3">Skills</h2>

        <div>
          <div class="d-flex justify-content-evenly">
            <div>
              <div class="logo-background">
                <img src="{{ site.baseurl }}/assets/images/rails.svg" alt="rails" class="skills-logo">
              </div>
              <p>Ruby on Rails</p>
            </div>
            <div>
              <img src="{{ site.baseurl }}/assets/images/postgresql.svg" alt="postgresql" class="skills-logo">
              <p>PostgreSQL</p>
            </div>
            <div>
              <div class="logo-background">
                <img src="{{ site.baseurl }}/assets/images/aws.svg" alt="aws" class="skills-logo">
              </div>
              <p>AWS | S3</p>
            </div>
            <div>
              <img src="{{ site.baseurl }}/assets/images/html.svg" alt="html" class="skills-logo">
              <p>HTML</p>
            </div>
            <div>
              <img src="{{ site.baseurl }}/assets/images/css.svg" alt="css" class="skills-logo">
              <p>CSS</p>
            </div>
            <div>
              <img src="{{ site.baseurl }}/assets/images/javascript.svg" alt="javascript" class="skills-logo">
              <p>JavaScript</p>
            </div>
            <div>
              <img src="{{ site.baseurl }}/assets/images/heroku.svg" alt="heroku" class="skills-logo">
              <p>Heroku</p>
            </div>
          </div>
        </div>

        <h2 class="my-3">Activities</h2>
        <div class="d-flex justify-content-center">
          <div class="hobby-container">
            <!-- <h2><i class="fa-solid fa-car-side"></i></h2> -->
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle"><i class="fa-solid fa-car-side"></i></label>
            <div class="collapsible-content">
              <div class="content-inner">
                <p>
                  I'm really into old-school cars, the ones from the '80s and '90s are my favorites.
                </p>
              </div>
            </div>
          </div>
          <div class="hobby-container">
            <!-- <h2><i class="fa-solid fa-camera"></i> + <i class="fa-solid fa-caravan"></i> = <i class="fa-solid fa-yin-yang"></i></h2> -->
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle"><i class="fa-solid fa-camera"></i> + <i class="fa-solid fa-caravan"></i> = <i class="fa-solid fa-yin-yang"></i></label>
            <div class="collapsible-content">
              <div class="content-inner">
                <p>
                  When I'm not geeking out on tech, I love to hit the road in my motorhome, camera always at the ready.
                </p>
              </div>
            </div>
          </div>
          <div class="hobby-container">
            <!-- <h2><i class="fa-solid fa-computer"></i></h2> -->
            <input id="collapsible" class="toggle" type="checkbox">
            <label for="collapsible" class="lbl-toggle"><i class="fa-solid fa-computer"></i></label>
            <div class="collapsible-content">
              <div class="content-inner">
                <p>
                  I'm also a big fan of computers, whether it's gaming or just tinkering around with them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOLLOW ME -->
      <div class="card">
        <h2>
          Follow me
        </h2>
        <ul class="list-inline">
          <li><a class="list-inline social-link" href="https://www.linkedin.com/in/jendrik-mallah/" target="_blank" aria-label="Soundcloud"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a class="list-inline social-link" href="https://github.com/jndrkmllh" target="_blank" aria-label="Github"><i class="fa-brands fa-github"></i></a></li>
        </ul>
      </div>

    </div>

    <script type="module" src="{{ site.baseurl }}/lib/index.js"></script>
  </body>
</html>
